@model QLNS.Models.Request

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Request</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RequestID)
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeID)
        @Html.DropDownList("EmployeeID", null, "-- Select Employee --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeID)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RequestType, new { @class = "control-label" })
        @Html.EditorFor(model => model.RequestType)
        @Html.ValidationMessageFor(model => model.RequestType)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Content, new { @class = "control-label" })
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RequestDate)
        @Html.TextBoxFor(model => model.RequestDate, "{0:yyyy-MM-dd}", new { @type = "date" })
        @Html.ValidationMessageFor(model => model.RequestDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "control-label" })
        @Html.EditorFor(model => model.Status)
        @Html.ValidationMessageFor(model => model.Status)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary ms-2" })
}

