@model IEnumerable<QLNS.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request List</h2>
@if (Session["UserRole"] != null && Session["UserRole"].ToString() == "Admin")
{
    <p>
        @Html.ActionLink("Create new", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>ID</th>
        <th>EmployeeID</th>
        <th>RequestType</th>
        <th>Content</th>
        <th>RequestDate</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(item.RequestID)</td>
            <td>@item.EmployeeID</td>
            <td>@item.RequestType</td>
            <td>@item.Content</td>
            <td>@item.RequestDate</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.RequestID }) | @Html.ActionLink("Details", "Details", new { id = item.RequestID }) | @Html.ActionLink("Delete", "Delete", new { id = item.RequestID })</td>
        </tr>
    }
</table>